<div class="smart-grid">
  <div class="grid-nav test-cont">A</div>
  <div class="grid-form test-cont">B</div>
  <div class="grid-table test-cont">C</div>
  <div class="grid-footer test-cont">D</div>
</div>