//
/ @group Form
/ @author James Stanger
//

/// Sets the base styles for a form. Includes styles for a responsive,
/// themed form.
%form {
  @include format-responsive(column, flex-start, null) {
    grid-template-columns: 100%;
    grid-auto-flow: row;
  };

  background: #d9d9d9;
  align-items: flex-end;
  width: 80%;
  margin: 10px auto;
}

/// Sets base layout styles for a section of a form.
%form-segment {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}


/// Defines a flexible, responsive form. Allows for a "fancy"
/// option that includes a drop-shadow.
/// @example markup - Basic use
///     <form class="smart-form">
///       <!-- FORM SECTION, FIELDS, ETC. -->
///     </form>
///
/// @example markup - Fancy Form
///     <form class="smart-form--fancy">
///       <!-- FORM SECTIONS, FIELDS, ETC. -->
///     </form>
.smart-form {
  @extend %form;

  &--fancy {
    @extend %form;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
  }
}

/// Styles different types of form inputs, namely input[type=text] and input[type=number].
.form-field {
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  box-shadow: 1px 1px 4px inset;
  border-radius: 3px;
  min-height: 20px;

  &[type=number] {
    max-width: 50px;
  }
}

/// Styles a section of the form. Allows a body to be styled using
/// .form-section, a heading to be styled using .form-section--heading
/// , and a footer to be styled using .form-section--footer.
.form-section {
  @extend %form-segment;
  @include format-responsive(column, center, null) {
    grid-auto-flow: row;
    grid-template-columns: 100%;
  }

  &--heading {
    @extend %form-segment;
    border-radius: 10px 10px 0 0;
  }

  &--footer {
    @extend %form-segment;
    border-radius: 0 0 10px 10px;

    @include format-responsive(row, space-between, wrap) {
      grid-auto-flow: column;
      @media screen and (max-width: $break-med) {
        grid-auto-flow: row;
      }
    }
  }
}

/// Styles a footer segment to allow a footer to be broken up into
/// multiple flexible sections. Ensures correct layout.
.footer-segment {
  @media screen and (max-width: $break-med) {
    @include format-responsive(column, null, null) {
      grid-auto-flow: row;
    }
  }
}

.form-title {
  margin: 0 auto;
}