////
/// @author James Stanger
/// @group Smartbox
////

/// Unset margin and padding for columns
%col {
  margin: 0;
  padding: 0;
}

/// Flexible box that is fully responsive.
.smart-box {
  & {
    @extend %flex-container;
  }

  &--center {
    @extend %flex-container;
    text-align: center;
    justify-content: center;
  }

  &--right {
    @extend %flex-container;
    text-align: right;
  }
}

@for $i from 1 through 10{
  .box-col-#{$i} {
    @extend %col;
    @include width-percentage($i);
  }
}