// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$calendar-name: 'calendar';
$calendar-x: 20px;
$calendar-y: 0px;
$calendar-offset-x: -20px;
$calendar-offset-y: 0px;
$calendar-width: 20px;
$calendar-height: 23px;
$calendar-total-width: 75px;
$calendar-total-height: 71px;
$calendar-image: '/images/spritesheet/sprite.png';
$calendar: (20px, 0px, -20px, 0px, 20px, 23px, 75px, 71px, '/images/spritesheet/sprite.png', 'calendar', );
$details-blue-name: 'details-blue';
$details-blue-x: 60px;
$details-blue-y: 25px;
$details-blue-offset-x: -60px;
$details-blue-offset-y: -25px;
$details-blue-width: 10px;
$details-blue-height: 10px;
$details-blue-total-width: 75px;
$details-blue-total-height: 71px;
$details-blue-image: '/images/spritesheet/sprite.png';
$details-blue: (60px, 25px, -60px, -25px, 10px, 10px, 75px, 71px, '/images/spritesheet/sprite.png', 'details-blue', );
$details-name: 'details';
$details-x: 15px;
$details-y: 46px;
$details-offset-x: -15px;
$details-offset-y: -46px;
$details-width: 20px;
$details-height: 15px;
$details-total-width: 75px;
$details-total-height: 71px;
$details-image: '/images/spritesheet/sprite.png';
$details: (15px, 46px, -15px, -46px, 20px, 15px, 75px, 71px, '/images/spritesheet/sprite.png', 'details', );
$edit-name: 'edit';
$edit-x: 0px;
$edit-y: 0px;
$edit-offset-x: 0px;
$edit-offset-y: 0px;
$edit-width: 20px;
$edit-height: 25px;
$edit-total-width: 75px;
$edit-total-height: 71px;
$edit-image: '/images/spritesheet/sprite.png';
$edit: (0px, 0px, 0px, 0px, 20px, 25px, 75px, 71px, '/images/spritesheet/sprite.png', 'edit', );
$info-name: 'info';
$info-x: 20px;
$info-y: 25px;
$info-offset-x: -20px;
$info-offset-y: -25px;
$info-width: 20px;
$info-height: 20px;
$info-total-width: 75px;
$info-total-height: 71px;
$info-image: '/images/spritesheet/sprite.png';
$info: (20px, 25px, -20px, -25px, 20px, 20px, 75px, 71px, '/images/spritesheet/sprite.png', 'info', );
$reset-name: 'reset';
$reset-x: 40px;
$reset-y: 25px;
$reset-offset-x: -40px;
$reset-offset-y: -25px;
$reset-width: 20px;
$reset-height: 19px;
$reset-total-width: 75px;
$reset-total-height: 71px;
$reset-image: '/images/spritesheet/sprite.png';
$reset: (40px, 25px, -40px, -25px, 20px, 19px, 75px, 71px, '/images/spritesheet/sprite.png', 'reset', );
$search-strong-name: 'search-strong';
$search-strong-x: 40px;
$search-strong-y: 0px;
$search-strong-offset-x: -40px;
$search-strong-offset-y: 0px;
$search-strong-width: 20px;
$search-strong-height: 21px;
$search-strong-total-width: 75px;
$search-strong-total-height: 71px;
$search-strong-image: '/images/spritesheet/sprite.png';
$search-strong: (40px, 0px, -40px, 0px, 20px, 21px, 75px, 71px, '/images/spritesheet/sprite.png', 'search-strong', );
$search-name: 'search';
$search-x: 0px;
$search-y: 25px;
$search-offset-x: 0px;
$search-offset-y: -25px;
$search-width: 20px;
$search-height: 21px;
$search-total-width: 75px;
$search-total-height: 71px;
$search-image: '/images/spritesheet/sprite.png';
$search: (0px, 25px, 0px, -25px, 20px, 21px, 75px, 71px, '/images/spritesheet/sprite.png', 'search', );
$sort-name: 'sort';
$sort-x: 60px;
$sort-y: 0px;
$sort-offset-x: -60px;
$sort-offset-y: 0px;
$sort-width: 15px;
$sort-height: 25px;
$sort-total-width: 75px;
$sort-total-height: 71px;
$sort-image: '/images/spritesheet/sprite.png';
$sort: (60px, 0px, -60px, 0px, 15px, 25px, 75px, 71px, '/images/spritesheet/sprite.png', 'sort', );
$user-name: 'user';
$user-x: 0px;
$user-y: 46px;
$user-offset-x: 0px;
$user-offset-y: -46px;
$user-width: 15px;
$user-height: 25px;
$user-total-width: 75px;
$user-total-height: 71px;
$user-image: '/images/spritesheet/sprite.png';
$user: (0px, 46px, 0px, -46px, 15px, 25px, 75px, 71px, '/images/spritesheet/sprite.png', 'user', );
$spritesheet-width: 75px;
$spritesheet-height: 71px;
$spritesheet-image: '/images/spritesheet/sprite.png';
$spritesheet-sprites: ($calendar, $details-blue, $details, $edit, $info, $reset, $search-strong, $search, $sort, $user, );
$spritesheet: (75px, 71px, '/images/spritesheet/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
