<section class="smart-tabs" style="margin: 10px;">
    <nav class="smart-tabs--nav">
        <ul class="smart-tabs--tabList">
            <li class="smart-tabs--tab smart-tabs--activeTab">Option 1</li>
            <li class="smart-tabs--tab">Option 2</li>
            <li class="smart-tabs--tab">Option 3</li>
            <li class="smart-tabs--tab">Option 4</li>
        </ul>
        <a href="#" class="smart-tabs--action bit-btn bit-btn-add">Add</a>
    </nav>
    <article class="smart-tabs--content">
        <p class="smart-tabs--default">Nothing to see here!</p>
        <div class="smart-tabs--item smart-tabs--activeItem">
            <h1>Hello!</h1>
        </div>
        <div class="smart-tabs--item">
            <h1>Goodbye!</h1>
        </div>
        <div class="smart-tabs--item">
            <h1>Hello again!</h1>
        </div>
        <div class="smart-tabs--item">
            <h1>Goodbye again!</h1>
        </div>
    </article>
</section>