<form action="/Region" class="smart-search" method="post">
    <div class="smart-search--heading">
        <h2 class="smart-search--title">Region</h2>
        <a href="/Region/Create" class="bit-btn bit-btn-add">Add</a>
        <button class="smart-search--action bit-btn bit-btn-plainSearch" type="button"></button>
        <button class="smart-search--action bit-btn bit-btn-plainExit" type="button"></button>
    </div>
    <div class="smart-search--fieldContainer is-hidden">
        <div class="smart-search--toggleContainer">
            <div class="smart-search--field bit-input">
                <label for="idName" class="bit-input--label">Find by ID/Name</label>
                <input type="text" id="idName" class="bit-input--field" name="searchField">
            </div>
            <div class="smart-search--field bit-input">
                <label for="paging" class="bit-input--label">Results per Page</label>
                <input type="number" id="paging" class="bit-input--field" name="pageNumber">
            </div>
            <button class="bit-btn bit-btn-search" type="submit">Search</button>
        </div>
    </div>
</form>