{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "Chrome >= 52",
          "FireFox >= 44",
          "Safari >= 7",
          "ie 11",
          "last 4 Edge versions"
        ]
      },
      "useBuiltIns": "usage"
    }]
  ],
  "ignore": [
    "node_modules"
  ]
}