{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "Chrome >= 52",
          "FireFox >= 44",
          "Safari >= 7",
          "ie 11",
          "last 4 Edge versions"
        ]
      },
      "useBuiltIns": "usage"
    }]
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-class-properties",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}