<div class="bit-input">
    <label for="{{inputName}}-id" class="bit-input--label">{{labelText}}</label>
    <input id="{{inputName}}-id" type="{{type}}" class="bit-input--field" name="{{inputName}}">
</div>