<smart-accordion title="{{accordionTitle}}">
    <ul class="the-list" style="padding: 10px 30px;">
        {{#links}}
            <li style="padding: 5px;" class="accordion-list--item">
                <a href="#"
                   style="font-size: 15px; padding: 5px;">{{linkContent}}</a>
            </li>
        {{/links}}
    </ul>
</smart-accordion>