<smart-form
    form-action="{{formAction}}"
    form-title="{{formTitle}}"
    :form-data="{{formData}}"
    :disabled-inputs="{{disabledInputs}}"
    form-method="{{formMethod}}"
    :empty-model="{{emptyModel}}"
    :required-inputs="['date', 'name']">
</smart-form>