<smart-form
    form-action="{{formAction}}"
    :form-data="{{formData}}"
    :readonly-inputs="{{disabledInputs}}"
    form-method="{{formMethod}}"
    :required-inputs="['date', 'name']">
    <!--<block-multi-select-->
        <!--:options-data="{{selectData}}"-->
        <!--parent-title="Type"-->
        <!--child-title="Pet"-->
        <!--parent-display-key="petType"-->
        <!--child-display-key="petName">-->
    <!--</block-multi-select>-->
</smart-form>