<section class="smart-modal" style="display: none">
    <div class="smart-modal--content">
        <header class="smart-modal--head">
            <button class="smart-modal--close">Close</button>
            <h2 class="smart-modal--title">{{modalTitle}}</h2>
        </header>
        <main class="smart-modal--body">
            {{>Organisms-form}}
        </main>
    </div>
</section>

<button type="button" class="bit-btn bit-btn-clickable" onclick="SmartModal()">{{modalBtn}}</button>