<table class="smart-table">
    <tr class="smart-table--row smart-table--head">
        <th class="smart-table--heading smart-table--sortableHeading">
            <a href="/Region?sortOrderid" class="smart-table--link">Id<span class="bit-icon-sort"></span></a>
        </th>
        <th class="smart-table--heading smart-table--sortableHeading">
            <a href="/Region?sortOrder=name" class="smart-table--link">Name<span class="bit-icon-sort"></span></a>
        </th>
        <th class="smart-table--heading">Actions</th>
    </tr>
    {{#tableData}}
        <tr class="smart-table--row">
            <td class="smart-table--cell smart-table--key">
                <span class="smart-table--inlineHeading">Id: </span>{{id}}
            </td>
            <td class="smart-table--cell smart-table--key">
                <span class="smart-table--inlineHeading">Name: </span>{{name}}
            </td>
            <td class="smart-table--cell">
                {{> Molecules-action-container}}
            </td>
            <td class="smart-table--expand">
                <button class="bit-btn bit-btn-expand"></button>
            </td>
        </tr>
    {{/tableData}}
</table>