@import "../../../global/templates";
@import "../../../global/variables";

////
/// @group Tables
/// @author James Stanger
////

/// Sets responsive styling on an HTML table.
/// @example markup - Basic use
///     <table class="smart-table">
///         <!-- TABLE -->
///     </table>
.smart-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid $theme-black;

  @media screen and (max-width: $break-lrg) {
    table-layout: fixed;
  }
}

.smart-table--head {
  text-align: center;
  background: darken($theme-generic, 10%);

  @media screen and (max-width: $break-med) {
    font-size: 0.75em;
  }
}

.smart-table--heading {
  border: 1px solid $theme-black;

  @media screen and (max-width: $break-med) {
    @include hide();
  }
}

.smart-table--inlineHeading {
  display: none;
  font-weight: bolder;
  font-size: 1.1em;
}

/// Applied to a sortable table column heading to disable select
/// so user does not accidentally select text when trying to sort.
.smart-table--sortableHeading {
  @include disable-select();
}

/// Set each record to fill container and be center aligned.
.smart-table--row {
  width: 100%;
  text-align: center;
  position: relative;
  justify-content: space-between;

  &:nth-child(even) {
    background: $theme-main--light;
  }

  @media screen and (max-width: $break-med) {
    &:not(.smart-table--head) {
      display: flex;
      align-items: center;
      padding: 10px 0;
    }

    &.record-is-expanded {
      align-items: stretch;
    }
  }
}

.smart-table--cell {
  border: 1px solid $theme-black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (max-width: $break-med) {
    border: none;

    &:not(.smart-table--key) {
      @include hide();
    }

    //TODO: Make empty cells look good
  }
}

/// Class indicating that a part of the record is key information
/// and should be displayed even when the record is expanded.
/// @example markup - HTML Use
///     <td class="smart-table--key">
///         {{recordId}}
///     </td>
.smart-table--key {
  min-width: 50px;
  flex: 1;
}

.smart-table--link {
  color: $theme-black;

  &:hover {
    text-decoration: underline;
  }
}

.smart-table--expand {
  @include hide();
  position: relative;
  right: 0;
  top: 0;

  @media screen and (max-width: $break-med) {
    display: inherit;
    display: unset;
  }
}

/// Expand record into vertical view. Set expand button to indicate record is expanded.
/// @example javascript - Apply onclick (jQuery)
///     $('<button class="bit-btn--expand"></button>')
///         .click(function() {
///             $(this).parent().toggleClass("record-is-expanded");
///     });
.record-is-expanded {
  @media screen and (max-width: $break-med) {
    @include alter-responsive(column, null, null);
    position: relative;

    .smart-table--key {
      max-width: none;
      flex: none;
    }

    .smart-table--cell {
      text-align: left;
      border-bottom: 1px solid $theme-black;
      border-collapse: collapse;
      margin: 5px 0;
      white-space: normal;
      overflow: visible;
      text-overflow: clip;

      //for IE. Has no effect on Chrome or Firefox
      float: right;

      &:last-of-type {
        border-bottom: none;
      }

      /* Beat .smart-table--cell:not(.smart-table--key) selector to override display: none property */
      &:not(.smart-table--key) {
        display: inline-block;
      }

      &:first-child {
        padding-bottom: 10px;
      }
    }

    .smart-table--expand {
      max-width: 50px;
      position: absolute;
      top: 10px;

      &:after {
        content: "-";
      }
    }

    .smart-table--inlineHeading {
      @media screen and (max-width: $break-med) {
        display: inline;
        margin: 0 auto;
      }
    }
  }
}