/// Styles a user / profile icon.
.bit-icon-user {
  height: 18px;

  &:before {
    @include icon;
    @include icon-url('user.png', 12px);
    height: 18px;
  }
}

/// Icon that is added to a sortable table column to indicate the
/// column is sortable.
.bit-icon-sort {
  display: inline-block;

  &:before {
    @include icon;
    @include icon-url('sort.png', 0.6em);
    height: 1em;
  }
}

.bit-icon-error {
  &:before {
    @include icon;
    content: '!';
    color: red;
  }
}