/// Styles a user / profile icon.
.bit-icon-user {
  &:before {
    @include icon;
    @include sprite($user);
    height: $user-height;
    width: $user-width;
  }
}

/// Icon that is added to a sortable table column to indicate the
/// column is sortable.
.bit-icon-sort {
  &:before {
    @include icon;
    @include sprite($sort);
    height: $sort-height;
    width: $sort-width;
  }
}

.bit-icon-error {
  &:before {
    @include icon('!');
    color: red;
  }
}