@import "../../../../global/templates";
@import "../../../../global/variables";

////
/// @group Modal
/// @author James Stanger
////

/// Styles Modal Close button
.smart-modal--close {
  height: 30px;
  background: none;
  margin: 5px;
  border: none;
}

/// Styles a responsive, accessible modal
.smart-modal {
  position: fixed;
  z-index: $level-100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* fallback color */
  background-color: #0d0908;
  background-color: rgba(13, 9, 8, 0.5);
}

/// Sets styles for main content portion of a smart-modal
.smart-modal--content {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 500px;
  height: 100%;

  @media screen and (max-width: 820px) {
    width: 80%;
    height: 80%;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-rows: 2fr 7fr 1fr;
    height: 85%;
  }
}

/// Sets styles for smart-modal title
.smart-modal--title {
  font-size: 35px;
  margin: 5px 20px;

  @media screen and (max-width: 820px) {
    font-size: 25px;
  }
}

/// Sets head section of a smart-modal
.smart-modal--head {
  background: $generic-grey;
}

/// Sets body section of a smart-modal
.smart-modal--body {

}

/// Sets styles for smart-modal footer section
.smart-modal--footer {
  padding: 20px;
}