/**********************
 *  Base styles
 **********************/

body {
    font: 14px/1.6 Helvitica, Arial, FreeSans, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font-size: 50px;
    text-shadow: 1px 1px 0 #fff;
    font-family: arial black, arial, sans-serif;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/**********************
 *  Templates
 **********************/

.smart-box,
.smart-box--center,
.smart-box--right {
    display: flex;
    flex-wrap: wrap;
}

/**********************
 *  Grid layout
 **********************/

.smart-grid {
    display: flex;
    flex-direction: column;
}

@supports (display: grid) {
    .smart-grid {
        display: grid;
        display: grid;
        grid-template-rows: 1fr 1fr 7fr 1fr;
        height: 100vh;
    }
}

.test-cont {
    background: #0077aa;
    box-sizing: border-box;
    border: 1px solid black;
    margin: -1px 0 0 -1px;
}

/**********************
 *  Smart-box layout
 **********************/

.box-col-1,
.box-col-2,
.box-col-3,
.box-col-4,
.box-col-5,
.box-col-6,
.box-col-7,
.box-col-8,
.box-col-9,
.box-col-10 {
    margin: 0;
    padding: 0;
}

.smart-box--center {
    text-align: center;
    justify-content: center;
}

.smart-box--right {
    text-align: right;
}

.box-col-1 {
    width: 100%;
}

@media screen and (max-width: 460px) {
    .box-col-1 {
        width: 100%;
    }
}

.box-col-2 {
    width: 50%;
}

@media screen and (max-width: 520px) {
    .box-col-2 {
        width: 100%;
    }
}

.box-col-3 {
    width: 33.33333%;
}

@media screen and (max-width: 580px) {
    .box-col-3 {
        width: 100%;
    }
}

.box-col-4 {
    width: 25%;
}

@media screen and (max-width: 640px) {
    .box-col-4 {
        width: 100%;
    }
}

.box-col-5 {
    width: 20%;
}

@media screen and (max-width: 700px) {
    .box-col-5 {
        width: 100%;
    }
}

.box-col-6 {
    width: 16.66667%;
}

@media screen and (max-width: 760px) {
    .box-col-6 {
        width: 100%;
    }
}

.box-col-7 {
    width: 14.28571%;
}

@media screen and (max-width: 820px) {
    .box-col-7 {
        width: 100%;
    }
}

.box-col-8 {
    width: 12.5%;
}

@media screen and (max-width: 880px) {
    .box-col-8 {
        width: 100%;
    }
}

.box-col-9 {
    width: 11.11111%;
}

@media screen and (max-width: 940px) {
    .box-col-9 {
        width: 100%;
    }
}

.box-col-10 {
    width: 10%;
}

@media screen and (max-width: 1000px) {
    .box-col-10 {
        width: 100%;
    }
}

/**********************
 *  Modals
 **********************/

/**********************
 *  Misc Elements
 **********************/

.wsp-link,
.clear-link,
.clear-link:hover {
    text-decoration: none;
    color: #5e5e5e;
}

.wsp-link {
    transition: color 300ms ease-in-out;
}

.wsp-link:hover {
    color: #0063ff;
}

.align-right {
    text-align: right;
}