@charset "UTF-8";
/**********************************************************************
 *
 *                         MISC STYLES
 *
 *********************************************************************/

.bit-link {
    text-decoration: none;
    color: #737373;
    transition: color 300ms ease-in-out;
}

.bit-link:hover {
    color: #0063ff;
}

.align-right {
    text-align: right;
}

/**********************************************************************
 *
 *                         BIT ELEMENTS
 *
 *********************************************************************/

/**************************
 * BIT-BTN STYLES
 *************************/

.bit-btn {
    border-radius: 5px;
    padding: 0;
    min-height: 35px;
    min-width: 60px;
    background: #3867b1;
    border: none;
    color: #f9f9f9;
    box-sizing: content-box;
    text-align: center;
    text-decoration: none;
}

/* Center links by setting line height to equal button height */

a.bit-btn {
    line-height: 35px;
}

.bit-btn-clickable {
    box-shadow: 2px 1px 1px #0d0908;
}

.bit-btn-clickable:active {
    box-shadow: 1px 1px 0;
    transform: translate(2px, 2px);
}

.bit-btn-search {
    box-shadow: 2px 1px 1px #0d0908;
}

.bit-btn-search:active {
    box-shadow: 1px 1px 0;
    transform: translate(2px, 2px);
}

.bit-btn-search:before {
    background: url("/images/search.png") center/13px no-repeat;
    height: 13px;
    width: 20px;
    content: " ";
    display: inline-block;
}

.bit-btn-add {
    box-shadow: 2px 1px 1px #0d0908;
}

.bit-btn-add:active {
    box-shadow: 1px 1px 0;
    transform: translate(2px, 2px);
}

.bit-btn-add:before {
    content: "+";
    display: inline-block;
    font-weight: bolder;
}

.bit-btn-reset {
    box-shadow: 2px 1px 1px #0d0908;
}

.bit-btn-reset:active {
    box-shadow: 1px 1px 0;
    transform: translate(2px, 2px);
}

.bit-btn-reset:before {
    background: url("/images/reset.png") center/13px no-repeat;
    height: 13px;
    width: 18px;
    content: " ";
    display: inline-block;
}

.bit-btn-details {
    background: none;
}

.bit-btn-details:active {
    transform: translate(2px, 2px);
}

.bit-btn-details:after {
    background: url("/images/details-blue.png") center/25px no-repeat;
    content: " ";
    display: inline-block;
    height: 35px;
    width: 18px;
    margin-right: 0;
}

.bit-btn-expand {
    background: none;
    line-height: 1.6;
}

.bit-btn-expand:active {
    transform: translate(2px, 2px);
}

.bit-btn-expand:after {
    content: "+";
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    border-radius: 1em;
    background: #ffa103;
}

.bit-btn-delete {
    background: none;
}

.bit-btn-delete:active {
    transform: translate(2px, 2px);
}

.bit-btn-delete:after {
    content: "+";
    display: inline-block;
    transform: scale(2) rotateZ(45deg);
    color: red;
    margin: 0;
}

.bit-btn-edit {
    background: none;
}

.bit-btn-edit:active {
    transform: translate(2px, 2px);
}

.bit-btn-edit:after {
    background: url("/images/edit.png") center/17px no-repeat;
    content: " ";
    display: inline-block;
    width: 20px;
    height: 35px;
}

.bit-btn-exit {
    box-shadow: 2px 1px 1px #0d0908;
}

.bit-btn-exit:active {
    box-shadow: 1px 1px 0;
    transform: translate(2px, 2px);
}

.bit-btn-exit:before {
    content: "+";
    display: inline-block;
    transform: scale(2) rotateZ(45deg);
}

.bit-btn-plainSearch {
    padding: 0;
    height: 60px;
    width: 60px;
    background: #3867b1;
    border: none;
}

.bit-btn-plainSearch:before {
    content: " ";
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url("/images/search.png") center/18px no-repeat;
}

.bit-btn-plainExit {
    padding: 0;
    height: 60px;
    width: 60px;
    background: #3867b1;
    border: none;
}

.bit-btn-plainExit:before {
    content: "+";
    display: inline-block;
    color: #f9f9f9;
    transform: scale(2) rotateZ(45deg);
}

/**************************
 * BIT-ICON STYLES
 *************************/

.bit-icon-user:before {
    content: " ";
    display: inline-block;
    background: url("/images/user.png") center/12px no-repeat;
    height: 18px;
    width: 12px;
}

.bit-icon-sort:before {
    content: " ";
    display: inline-block;
    background: url("/images/sort.png") center/10px no-repeat;
    height: 18px;
    width: 10px;
}

.bit-icon-error:before {
    content: "!";
    display: inline-block;
    color: red;
}

/**************************
 * BIT-DROPLIST STYLES
 *************************/

.bit-dropList {
    /* display beneath parent. Hide by default. Set to outer z-index layer. */
    position: absolute;
    padding: 0;
    display: none;
    width: inherit;
    margin-top: 3px;
    z-index: 90;
    list-style: none;
    left: 0;
    right: 0;
}

.bit-dropList--item {
    /* ensure children are not transparent */
    background: #a1bae1;
    padding: 3px 0;
    box-shadow: #ffa103 0 0 3px inset;
}

.bit-dropList--item:hover {
    transition: border-top-width 100ms;
    border-top: 2px groove #feb437;
}

/**************************
 * BIT-INPUT STYLES
 *************************/

.bit-input {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

@media screen and (max-width: 480px) {
    .bit-input {
        flex-direction: column;
        align-items: flex-start;
    }
}

.bit-input-stacked {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
}

.bit-input--label {
    margin: 10px 10px 10px 0;
    display: inline-block;
}

.bit-input--field {
    padding: 5px;
    /* Select inputs that are not checkboxes.
   * Omit .el-date-editor, the container of a third-party datepicker Vue.js component.
   */
}

.bit-input--field:not([type=checkbox]):not(.el-date-editor) {
    border: none;
    box-shadow: inset 1px 1px 4px #0d0908;
    border-radius: 3px;
    height: 35px;
    width: 97%;
}

.bit-input--field[type=number] {
    max-width: 50px;
}

/**********************************************************************
 *
 *                         BLOCK ELEMENTS
 *
 *********************************************************************/

/**************************
 * BLOCK-ACTIONCONTAINER STYLES
 *************************/

.block-actionContainer {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

@supports (display: grid) {
    .block-actionContainer {
        display: grid;
        grid-auto-flow: column;
    }
}

.block-actionContainer>[class*=bit-btn] {
    margin: 0;
    min-width: 30px;
}

/**************************
 * BLOCK-MUTLISELECT STYLES
 *************************/

.block-multiSelect {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .block-multiSelect {
        flex-direction: column;
        align-items: stretch;
    }
}

.block-multiSelect-stacked {
    display: flex;
    flex-direction: column;
}

.block-multiSelect--label {
    margin: 5px 10px;
}

.block-multiSelect--select {
    margin: 5px 10px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #d9d9d9;
}

/**************************
 * BLOCK-NAVLIST STYLES
 *************************/

.block-navList--items {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #3867b1, #bdd4f8);
    margin: 0;
    padding-left: 0;
    z-index: 90;
}

@supports (display: grid) {
    .block-navList--items {
        display: grid;
        grid-auto-flow: column;
    }
}

.block-navList--items li {
    list-style: none;
    box-shadow: 0 1px 2px inset;
    padding: 3px 0;
    text-align: center;
    position: relative;
    flex-grow: 1;
}

@media screen and (min-width: 769px) {
    .block-navList--items li:hover {
        /* apply transitions and border only when not mobile. */
        transition: border-top-width 100ms;
        border-top: 2px groove #ffa103;
        margin-top: -2px;
    }
}

.block-navList--items li:hover .bit-dropList {
    /* show any sublists on hover */
    display: block;
}

@media screen and (max-width: 768px) {
    .block-navList--items {
        /* mobile list style */
        /* hide by default */
        display: block;
        transform: translateX(-300px);
        transition: transform 600ms ease-in-out;
        background: linear-gradient(to bottom, #3867b1, #bdd4f8);
        position: absolute;
        left: 0;
        width: 250px;
        /* show when nav-show class is applied */
    }
    .block-navList--items.nav-show {
        display: flex;
        flex-direction: column;
        transform: none;
    }
    @supports (display: grid) {
        .block-navList--items.nav-show {
            display: grid;
            grid-auto-flow: row;
        }
    }
    .block-navList--items li {
        /* resize list items on mobile */
        padding: 5px;
        border-bottom: 1px solid #0d0908;
        position: relative;
    }
}

[class*=block-navList]>li>.bit-link {
    color: #f9f9f9;
}

.sublist-container::after {
    content: "▾";
    margin-left: 4px;
}

.block-navList--expand {
    /* hide by default */
    display: none;
    /* style expand button when screen is small */
}

@media screen and (max-width: 768px) {
    .block-navList--expand {
        transform: rotate(90deg);
        font-size: 2em;
        display: inline-block;
        border: 2px solid #feb437;
        border-radius: 10px;
        margin: 10px 0;
        padding: 0 15px 5px;
    }
}

/***********************************************************************
 *
 *                         SMART ELEMENTS
 *
 **********************************************************************/

/**************************
 * SMART-ACCORDION STYLES
 *************************/

.smart-accordion--toggle:hover:after,
.smart-accordion--toggle.is-expanded:hover:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 13px;
    right: 10px;
    top: 17px;
    background: transparent url(/images/sort.png) 0 -11px/15px no-repeat;
}

.smart-accordion {
    width: 100%;
    margin: 10px auto;
}

.smart-accordion--toggle {
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    min-height: 50px;
    width: 100%;
    background: #d9d9d9;
    border: none;
    text-align: left;
}

.smart-accordion--toggle:hover {
    background: #e6e6e6;
}

.smart-accordion--toggle.is-expanded {
    background: #9bb9e7;
}

.smart-accordion--toggle.is-expanded:hover:after {
    background: url(/images/sort.png) 0 3px/15px no-repeat;
}

.smart-accordion--content {
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    transition: height 500ms ease-in-out;
    background: #f3f3f3;
    box-shadow: 0 0 2px 0 inset;
}

.smart-accordion--content>* {
    margin: 0;
}

/**************************
 * SMART-DETAILS STYLES
 *************************/

.smart-details--heading {
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #0d0908;
    background: #d9d9d9;
}

.smart-details--container {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #0d0908;
    border-radius: 5px;
}

.smart-details--listContainer {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .smart-details--listContainer {
        flex-direction: column;
    }
}

.smart-details--detail {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

@media screen and (max-width: 480px) {
    .smart-details--detail {
        font-size: 0.75em;
        overflow-wrap: break-word;
        margin: 10px 0;
    }
}

.smart-details--detail>dt,
.smart-details--detail>dd {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.smart-details--detail>dt {
    text-align: right;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .smart-details--list {
        width: 100% !important;
    }
}

/**************************
 * SMART-FORM STYLES
 *************************/

.smart-form>.smart-form--input {
    margin: 10px 20px;
}

.smart-form--titleSection {
    background: #d9d9d9;
    padding: 10px;
}

.smart-form--title {
    margin: 0;
}

/**************************
 * SMART-MODAL STYLES
 *************************/

.smart-modal--close {
    height: 30px;
    background: none;
    margin: 5px;
    border: none;
}

.smart-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* fallback color */
    background-color: #0d0908;
    background-color: rgba(13, 9, 8, 0.5);
}

.smart-modal--content {
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    width: 500px;
    height: 100%;
}

@media screen and (max-width: 820px) {
    .smart-modal--content {
        width: 80%;
        height: 80%;
    }
}

@supports (display: grid) {
    .smart-modal--content {
        display: grid;
        grid-template-rows: 2fr 7fr 1fr;
        height: 85%;
    }
}

.smart-modal--title {
    font-size: 35px;
    margin: 5px 20px;
}

@media screen and (max-width: 820px) {
    .smart-modal--title {
        font-size: 25px;
    }
}

.smart-modal--head {
    background: #d9d9d9;
}

.smart-modal--footer {
    padding: 20px;
}

/**************************
 * SMART-NAV STYLES
 *************************/

.smart-nav {
    border-bottom: 1px solid #ffa103;
    background-color: #a1bae1;
    position: relative;
}

.smart-nav--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@supports (display: grid) {
    .smart-nav--header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.smart-nav--header>main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .smart-nav--header>main {
        /* Force width on Flexbox version to guarantee width */
        width: 350px;
        /* override above width rule on Grid version */
    }
    @supports (display: grid) {
        .smart-nav--header>main {
            width: auto;
        }
    }
}

@supports (display: grid) {
    .smart-nav--header>aside {
        grid-column: 3;
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .smart-nav--header {
        display: block;
    }
    .smart-nav--header>aside {
        margin-left: 20px;
    }
    .smart-nav--header>main {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .smart-nav--list {
        margin-left: 20px;
    }
}

.smart-nav--logo {
    margin: 10px 20px;
}

/**************************
 * SMART-SEARCH STYLES
 *************************/

.smart-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #d9d9d9;
    align-items: flex-end;
}

@supports (display: grid) {
    .smart-search {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-flow: row;
    }
}

.smart-search--heading {
    transition: min-height 500ms;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@supports (display: grid) {
    .smart-search--heading {
        display: grid;
        grid-auto-flow: column;
    }
}

.smart-search--title {
    margin: 0 10px;
}

.smart-search--headingSegment {
    display: flex;
    align-items: center;
}

.smart-search--toggleContainer {
    overflow: hidden;
}

.smart-search--fieldContainer {
    display: flex;
    align-items: center;
    transition: transform 700ms ease-in-out;
    right: 75px;
    top: 0;
    padding-right: 10px;
}

.smart-search--fieldContainer.is-hidden {
    transform: translateX(1000px);
}

@media screen and (max-width: 1000px) {
    .smart-search--heading {
        position: relative;
        align-content: start;
    }
    .smart-search--toggleContainer {
        position: absolute;
        left: 0;
        top: 60px;
    }
    .smart-search--fieldContainer {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

/**************************
 * SMART-TABLE STYLES
 *************************/

.smart-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #0d0908;
}

@media screen and (max-width: 1024px) {
    .smart-table {
        table-layout: fixed;
    }
}

.smart-table--head {
    text-align: center;
    background: silver;
}

@media screen and (max-width: 768px) {
    .smart-table--head {
        font-size: 0.75em;
    }
}

.smart-table--heading {
    border: 1px solid #0d0908;
}

@media screen and (max-width: 768px) {
    .smart-table--heading {
        display: none;
    }
}

.smart-table--inlineHeading {
    display: none;
    font-weight: bolder;
    font-size: 1.1em;
}

.smart-table--sortableHeading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.smart-table--row {
    width: 100%;
    text-align: center;
    position: relative;
    justify-content: space-between;
}

.smart-table--row:nth-child(even) {
    background: #c8d6ed;
}

@media screen and (max-width: 768px) {
    .smart-table--row:not(.smart-table--head) {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
    .smart-table--row.record-is-expanded {
        align-items: stretch;
    }
}

.smart-table--cell {
    border: 1px solid #0d0908;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .smart-table--cell {
        border: none;
    }
    .smart-table--cell:not(.smart-table--key) {
        display: none;
    }
}

.smart-table--key {
    min-width: 50px;
    flex: 1;
}

.smart-table--link {
    color: #0d0908;
}

.smart-table--link:hover {
    text-decoration: underline;
}

.smart-table--expand {
    display: none;
    position: relative;
    right: 0;
    top: 0;
}

@media screen and (max-width: 768px) {
    .smart-table--expand {
        display: inherit;
        display: unset;
    }
}

@media screen and (max-width: 768px) {
    .record-is-expanded {
        flex-direction: column;
        position: relative;
    }
    .record-is-expanded .smart-table--key {
        max-width: none;
        flex: none;
    }
    .record-is-expanded .smart-table--cell {
        text-align: left;
        border-bottom: 1px solid #0d0908;
        border-collapse: collapse;
        margin: 5px 0;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        float: right;
        /* Beat .smart-table--cell:not(.smart-table--key) selector to override display: none property */
    }
    .record-is-expanded .smart-table--cell:last-of-type {
        border-bottom: none;
    }
    .record-is-expanded .smart-table--cell:not(.smart-table--key) {
        display: inline-block;
    }
    .record-is-expanded .smart-table--cell:first-child {
        padding-bottom: 10px;
    }
    .record-is-expanded .smart-table--expand {
        max-width: 50px;
        position: absolute;
        top: 10px;
    }
    .record-is-expanded .smart-table--expand:after {
        content: "-";
    }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
    .record-is-expanded .smart-table--inlineHeading {
        display: inline;
        margin: 0 auto;
    }
}