<block-action-container default-ctx="{{defaultContext}}" :item-id="{{item.id}}" :details-btn="{{allowDetails}}" details-ctx="{{item.detailsContext}}" :edit-btn="{{allowEdit}}" edit-ctx="{{item.editContext}}" :delete-btn="{{allowDelete}}" delete-ctx="{{item.deleteContext}}">
</block-action-container>