@import "../../../../global/variables";
@import "../../../../global/templates";

////
/// @group Button
/// @author James Stanger
////

/// Sets base styles for a button.
/// @requires {placeholder} btn <#btn>
%bit-btn {
  @extend %btn;

  &--no-background {
    @extend %btn;
    padding: 0 6px !important;
    height: 30px !important;
    background: none !important;
  }
}

/// Sets base styles for a button.
%btn {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  height: 15px;
  max-width: 150px;
  background: $uniform-blue--deep;
  border: none;
  color: $pearl-white;
  box-sizing: content-box;
  text-align: center;
  text-decoration: none;
}

/// Styles a button to have a click animation. Also gives the option to
/// have the button be "shadowless" and exclude the drop-shadow.
/// @example scss - Basic use
///     .btn {
///         @extend %clickable;
///     }
///
/// @example scss - Shadowless
///     .btn-clear {
///         @extend %clickable--shadowless;
///     }
%clickable {
  box-shadow: 2px 1px 1px $hat-black;

  &:active {
    box-shadow: 1px 1px 0;
  }

  &--shadowless:active, &:active {
    transform: translate(2px, 2px);
  }
}

/// Styles the bit-btn and several other variations. Such variations include: <br>
/// .bit-btn--search (Adds magnifying glass)<br>
/// .bit-btn--add (Adds plus sign: +)<br>
/// .bit-btn--reset (Adds circular reset arrow)<br>
/// .bit-btn--details (Adds details icon)<br>
/// .bit-btn--expand (Adds plus sign: +)<br>
/// .bit-btn--delete (Adds rotated plus sign)<br>
/// .bit-btn--edit (Adds edit icon)<br>
/// .bit-btn--datepicker (Adds datepicker icon)<br>
.bit-btn {
  & {
    @extend %bit-btn;
    @extend %clickable;
  }

  &-search {
    @extend %bit-btn;
    @extend %clickable;

    &:before {
      @include icon-url('search.png', 13px);
      @extend %icon;
    }
  }

  &-add {
    @extend %bit-btn;
    @extend %clickable;
    &:before {
      content: '+';
      font-weight: bolder;
      @extend %icon;
    }
  }

  &-reset {
    @extend %bit-btn;
    @extend %clickable;
    &:before {
      @include icon-url('reset.png', 13px);
      @extend %icon;
    }
  }

  &-details {
    @extend %bit-btn--no-background;
    @extend %clickable--shadowless;

    &:after {
      @include icon-url('details-blue.png', 25px);
      @extend %icon;

      height: 25px;
      width: 18px;
      margin-right: 0;
    }
  }

  &-expand {
    @extend %bit-btn--no-background;
    @extend %clickable--shadowless;
    line-height: 1.6;

    &:after {
      @extend %icon;
      content: "+";
      font-size: 15px;
      font-weight: 900;
      width: 1.8em;
      height: 1.8em;
      text-align: center;
      border-radius: 1em;
      background: lighten($patch-orange--deep, 20%);
    }
  }

  &-delete {
    @extend %bit-btn--no-background;
    @extend %clickable--shadowless;

    &:after {
      @extend %icon;
      content: "+";
      transform: rotate(45deg) translate(3px, -4px);
      color: red;
      margin: 0;
      font-size: 2em;
    }
  }

  &-edit {
    @extend %clickable--shadowless;
    @extend %bit-btn--no-background;

    &:after {
      @include icon-url('edit.png', 17px);
      @extend %icon;
      width: 20px;
      height: 25px;
    }
  }

  $datepicker-height: 25px;
  &-datepicker {
    @extend %bit-btn;
    @extend %clickable;
    height: $datepicker-height;
    width: $datepicker-height - 5;
    display: inline-block;
    @include counteract-bootstrap('datepicker');

    &:before {
      @extend %icon;
      @include icon-url('calendar.png', $datepicker-height - 5);
      height: $datepicker-height;
      width: $datepicker-height - 5;
    }
  }

  &-exit {
    @extend %bit-btn;
    @extend %clickable;

    &:before {
      content: '+';
      @extend %icon;
      transform: translateX(8px) rotate(45deg);
      height: 0;
      font-size: 1.5em;
    }
  }

  &-plainSearch {
    height: 65px;
    width: 65px;
    background: $uniform-blue--deep;
    border: none;

    &:before {
      @extend %icon;
      height: 20px;
      width: 20px;
      @include icon-url('search.png', 18px);
    }
  }

  &-plainExit {
    height: 65px;
    width: 65px;
    background: $uniform-blue--deep;
    border: none;

    &:before {
      @extend %icon;
      content: '+';
      color: white;
      font-size: 2em;
      transform: translateX(5px) rotate(45deg);
    }
  }
}