<tr class="record">
    {{#recordKeys}}
        <td class="record-key">{{keyText}}</td>
    {{/recordKeys}}
    {{#recordEntries}}
        <td>{{entryText}}</td>
    {{/recordEntries}}
    <td>
        {{> Molecules-action-container }}
    </td>
</tr>