<ul class="bit-dropList">
    {{#inlineListItems}}
        <li class="bit-dropList--item">
            <a class="bit-link" href="{{linkPath}}">{{itemTitle}}</a>
        </li>
    {{/inlineListItems}}
</ul>