<block-multi-select
    parent-title="Country"
    child-title="State"
    parent-display-key="ManufacturerName"
    child-display-key="ServiceCenterName"
    :options-data="{{optionsData}}">
</block-multi-select>