<block-multi-select
    parent-name="Country"
    child-name="State"
    parent-display-key="ManufacturerName"
    child-display-key="ServiceCenterName"
    :options-data="{{optionsData}}"
    :stack-elements="true">
</block-multi-select>