<smart-details :detail-data="{{detailData}}" title="Technician Details" :details-per-column="9">
</smart-details>

<stack-table-collapsible :table-data="{{childRecords}}" default-context="TechnicianCertificationHistory" title="Table Data">
</stack-table-collapsible>

<stack-table-collapsible :table-data="{{childRecords}}" default-context="TechnicianCertificationHistory" title="Table Data 2">
</stack-table-collapsible>

<stack-table-collapsible :table-data="{{childRecords}}" default-context="TechnicianCertificationHistory" title="Table Data 3">
</stack-table-collapsible>

<smart-accordion title="Test">
  <p>Testing the accordion</p>
</smart-accordion>