<block-multi-select :options-data="{{optionsData}}"
                    parent-name="{{parentName}}"
                    child-name="{{childName}}"
                    parent-display-key="{{parentKey}}"
                    child-display-key="{{childKey}}"
                    :stack-elements="true">
</block-multi-select>