<div class="block-actionContainer">
    <a href="/{{detailsContext}}/{{id}}" class="bit-btn bit-btn-details"></a>
    <a href="/{{editContext}}/{{id}}" class="bit-btn bit-btn-edit"></a>
    <a href="/{{deleteContext}}/{{id}}" class="bit-btn bit-btn-delete"></a>
</div>