<div class="block-actionContainer">
    <a href="/Region/Details/{{id}}" class="bit-icon-details"></a>
    <a href="/Technician/Edit/{{id}}" class="bit-icon-edit"></a>
    <a href="/Manufacturer/Delete/{{id}}" class="bit-icon-delete"></a>
</div>