<div class="block-actionContainer">
    <a href="/Region/Details/{{id}}" class="bit-btn bit-btn-details"></a>
    <a href="/Technician/Edit/{{id}}" class="bit-btn bit-btn-edit"></a>
    <a href="/Manufacturer/Delete/{{id}}" class="bit-btn bit-btn-delete"></a>
</div>