%select {
  margin: 0 10px;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px $theme-generic;
}

.block-multiSelect {
  display: flex;
  align-items: center;

  @media screen and (max-width: $break-med) {
    flex-direction: column;
    align-items: stretch;
  }

  &-stacked {
    display: flex;
    flex-direction: column;

    & > [class^="block-multiSelect--"], & > label {
      margin: 5px 10px;
    }
  }
}

.block-multiSelect--parent {
  @extend %select;
}

.block-multiSelect--child {
  @extend %select;
}