        </div>
        <!--DO NOT REMOVE-->
        {{{ patternLabFoot }}}
        <!--<script src="../../js/main.js"></script>-->
        <script type="text/javascript" src="../../js/build.js"></script>
    </body>
</html>
